.popup__container {
    align-self: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #fff;
    width: 430px;
    z-index: 300;
    position: relative;
}

@media screen and (max-width: 767px) {
    .popup__container {
        width: 282px;
    }
}