.header {
    padding-bottom: 45px;
    box-sizing: border-box;
    margin-top: 45px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    margin-bottom: 36px;
}

@media screen and (max-width: 767px) {
    .header {
        padding-bottom: 34px;
        max-width: 100%;
        margin: 28px 0 39px;
    }
}