.profile__edit-profile-btn {
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    background-image: url(../../../images/edit-pen-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
    cursor: pointer;
}
@media screen and (max-width: 767px) {
    .profile__edit-profile-btn {
        position: absolute;
        top: 8px;
        right: -28px;
        width: 18px;
        height: 18px;
    }
}