.form-container__close-btn {
    width: 44px;
    height: 44px;
    background-image: url(../../../images/close-icon.svg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -44px;
    right: -44px;
    cursor: pointer;
}