.popup__username {
    padding: 0;
    margin-bottom: 33px;
    align-self: center;
    width: calc(100% - 36px*2);
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 24px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.21;
}

.popup__username:focus {
    outline: none;
}
@media screen and (max-width: 767px) {
    .popup__username {
        width: calc(100% - 22px*2);
    }
    }