.element__like-btn {
    background-color: transparent;
    padding: 0;
    border: 0;
    width: 22px;
    height: 19px;
    background-image: url(../../../images/like-btn.svg);
    cursor: pointer;
}

.element__like-btn:active, .element__like-btn:focus {
    outline: none;
}
