.profile__avatar-edit-icon {
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url('../../../images/edit-pen-button.svg');
  background-size: 26px 26px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
  cursor: pointer;
}
