.element__image-caption {
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
}